@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px; 
}
/* #loadingpage{
    width: 10vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }
#loadingGlow{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(90deg,#050054,#ff00a8,#a80000,#ff00a8,#050054);
    background-size: 400%;
    border-radius: 100%;
    filter: blur(50px);
    animation: glow 5s infinite ease-in-out;
    position: absolute;
    top: 10px;
}
@keyframes glow{
    from{
        background-position: 400%;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    to{
        background-position: 0%;
        border-radius: 51% 49% 51% 49% / 49% 52% 48% 51% ;
    }
}
#loading{
    width: 300px;
    height: 300px;
    position: absolute;
    border: 5px solid lawngreen;
    background-color: rgba(135, 202, 235, 0.543);
    background-position: 400%;
    background-size: 400%;
    animation-name: shape;
    border-radius:100% ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
    top: 10px;
}
@keyframes shape{
    0%,100%,50%{
        border-radius: 100%;
    }
    10%,90%{
        border-radius: 66% 34% 51% 49% / 49% 52% 48% 51%;
    }
    20%,80%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; 
    }
    30%,70%{
        border-radius: 30% 70% 33% 67% / 61% 50% 50% 39% ;
    }
    40%,60%{
        border-radius: 61% 39% 66% 34% / 41% 61% 39% 59% ;
    }
}
#loadingHeading{
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px black;
    letter-spacing: 10px;
    font-family: 'dancing Script' , cursive;
    font-family: 'markazi Text' , serif;

}
#loadingBar{
    position: absolute;
    left: 20px;
    bottom: 60px;
    width: 95vw;
    height: 5px;
    background-image: linear-gradient(90deg,#050054,#ff00a8,#a80000,#ff00a8,#050054);
    background-size: 400%;
    background-position: 400%;
    animation: loadingBar 10s 1 linear;
}
@keyframes loadingBar{
    from{
        width: 0px;
        background-position: 400%;
    }
    to{
        width: 95vw;
        background-position: 0%;
    }
}
#EnterTowerpage{
    width: 220px;
    height: 40px;
    position: absolute;
    background-image: linear-gradient(90deg,purple,rgb(255,0,43));
    color:white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Crimsoon Pro',serif;
    font-family: 'Dancing Script',cursive;
    font-family: 'DM Serif Display'serif;
    font-family: 'Markazi Text',serif;
    cursor: pointer;
} 
#EnterTowerpage: :hover{
    animation:giggle 0.5s;
} */
@keyframes giggle{
    0%,100%{
        transform: rotate(0deg) skew(0deg);
    }
    35%,75%{
        transform: rotate(-10deg) skewY(0deg) skewX(20deg);
    }
    55%,75%{
        transform: rotate(10deg) skewX(-20deg) skewY(0deg);
    }
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headervid{
    width: 100%;
    filter: brightness(40%);
    position: absolute;
    bottom: -40px;
}
#navbar{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 50px;
    color: white;
}
#webpageLogo{
    width: 60px;
    margin-left: 30px;
}
#login{
    position: absolute;
    right: 30px;
}
h4{
    cursor: pointer;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px black;
}
#pageName{
    position: absolute;
    font-size: 40px;
    color: white;
    letter-spacing: 20px;
    text-shadow: 2px 2px 2px black;
    animation: slide 2s ease-in;
}
@keyframes slide{
    from{
        transform: translate(-450px);
        filter: opacity(0);
    }
    to{
        transform: translate(0px);
        filter: opacity(1);
    }
}
#search{
width: 80%;
 height: 30px;
background-color: white;
position: absolute;
z-index: 3;
bottom: 35%;
border-radius: 200px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 5px 5px 5px black;
animation: slideDown 2s ease-in;
}
#searchID{
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
}
i{
    cursor: pointer;
}
@keyframes slideDown{
    from{
        transform: translate(0px,50px);
        filter: opacity(0);
    }
    to{
        transform: translate(0px,0px);
        filter: opacity(1);
    }
}
.goDown{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 30px;
    font-size: 50px;
    color: white;
    background: transparent;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px black;
}
.goDownn:hover{
    animation: giggle 0.2s linear;
    cursor: pointer;
}
#latestShoeSec{
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.shoeRot{
    width: 260px;
    height: 260px;
    background-color: rgba(128, 128, 128, 0.556);
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.3s;
    position: relative;
}
.LSshoe{
    width: 80%;
    filter: drop-shadow(5px 5px 5px black);
    transition: all 0.3s;
}
.shoeRot:hover .LSshoe{
    transform: rotate(65deg) translateX(-50px) translateY(-130px) scale(1.3);
}
.shoeRot:hover{
    transform: scale(1.2);
}
.LSName{
    position: absolute;
    top: 5px;
    color: rgb(148, 0,0);
    text-shadow: 2px 2px 5px black;
    display: none;
    font-size: 21px;
}
.LSpara{
    position: absolute;
    top: 80px;
    width: 120px;
    right: 30px;
    font-size: 24px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black ;
    display: none;
}
.money{
    position: absolute;
    bottom: 40px;
    font-size: 30px;
    color: lawngreen;
    text-shadow: 2px 2px 5px black;
    display: none;
}
.shoeRot:hover .LSName,.shoeRot:hover .money,.shoeRot:hover .LSpara
{
    display: none;
}
#latestShoeSecHeading,#categorySection{
    position: absolute;
    top: 30px;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 12px;
    word-spacing: 30px;
    color: white;
    text-shadow: 5px  5px 5px black;
}
#buttonLS{
    position: absolute;
    left: 45%;
    bottom: 30px;
}
#categorySec{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 200vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    column-gap: 30px;
}
.cataSec{
    width: 150px;
    height: 150px;
    background-color: rgba(128, 128, 128,  0.506);
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    background-size: 160% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s;
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
    margin-top: 30px;
}
.cataSec:hover{
    transform: scale(1.2);
}
#Lifestyle{
background-image: url(./ASSEST/IMAGES/lifestyle.jpg);
}
#jorden{
    background-image: url(./ASSEST/IMAGES/jorden.jpg);
    }
    #Running{
        background-image: url(./ASSEST/IMAGES/running.jpg);
        }
        a{
            text-decoration: none;
            color: white;
        }
        #categorySection{
            top: 10px;
        }
        #Up{
            position: absolute;
            left: 45%;
            bottom: -20px;
            font-size: 30px;
            transform: rotate(180deg);
        }
        footer{
            width: 100%;
            height: 80px;
            position: absolute;
            top: 300vh;
            background-color: grey;
            display: flex;
            align-items: center;
        }
        .fa-brands{
            font-size: 30px;
            padding-left: 30px0;
            position: relative;
            left: 35vw;
        }
        #copyrt{
            font-size: 16px;
            font-weight: bold;
            padding-left: 60px;
        }